@import "./styles/Taskmanager.css";
@import "./styles/Navbar.css";
@import "./styles/TypingTest.css";
@import "./styles/Skills.css";

@tailwind components;
@tailwind utilities;

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

@media (max-width: 80em) {
  .Contact-Home {
    display: none;
  }
}

a:hover {
  color: rgb(255 237 213);
}

/* App.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./assets/karina-skrypnik--EQ8L9lY50A-unsplash.jpg);
}

.container {
  max-width: 10000px;
  margin: 0 auto;
  padding: 20px;
}

.containerContact {
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
}

header {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Rubik", sans-serif;
  color: rgb(255 237 213);
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.Skills {
  position: fixed;
  bottom: 50px;
  height: 75%;
  width: 100%;
}

.Skills li {
  width: 50%;
  left: 150px;
  font-weight: bold;
}

.Contact-Home {
  position: absolute;
  bottom: 0;

  margin-left: auto;
  background-color: rgb(255 237 213);
}
